/* @font-face {
    font-family: 'Plain Regular',silk serif;
    src: url();
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(245, 245, 245);
    font-family: 'Plain Regular', sans-serif;
    /* cursor: none; */
}
main, body {
    height: 100%;
    width: 100%;
}
#main{
    position:relative;
    background-color:#151515;;
}
#crsr{
    height:2vw;
    width:2vw;
    border: 2px solid #fff;
    border-radius: 50%;
    position:fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#loader{
    width: 100%;
    height: 100%;
    background-color: #030303;
    position:fixed;
    z-index: 999;
    padding: 25vh 10vw;
}
#first-line{display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5vw;
}
#first-line h5,#first-line h6{
    font-size: 2vw;
    font-family:'Slik Serif';
    font-weight: 100;
}
#first-line h5{
    width:3vw;
    text-align:left;
    /* background-color: red; */
}
.line{
    height:fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:3vw;
}
.line h1{
    font-size: 6.5vw;
    font-weight: 700;
    text-transform: uppercase;
}
.line h2 {
    line-height: 1;
    font-weight: 600;
    font-size: 6.5vw;
    text-transform: uppercase;
    opacity:0;
    /* animation-name: now; */
    animation-duration:  3s ;
    animation-iteration-count: infinite;
}
@keyframes now {
    0%, 48% {
        font-family: "Plain Regular", system-ui, sans-serif;
        color: #fff;
        -webkit-text-stroke: 0;
        opacity: 1;
    }
    50% {
        font-family: "Plain Light", serif;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        opacity: 1;
    }
    100% {
        font-family: "Plain Light", system-ui, sans-serif;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        opacity: 1;
    }
}
#page1{
    height:100vh;
    width: 100vw;
    background-color: #151515; 
}
#page1 #nav{
    /* border: 2px solid rgb(245, 245, 245); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3vw;
}
#nav-part2 h5{
    font-weight: 500;
    font-size: 1.1vw;
}
.center{
    width: 72%;
    margin-left: 27%;
    overflow: hidden;
    height: fit-content;
    position: relative;
    z-index: 999;
}
.center h1{
    text-transform: uppercase;
    font-size: 8vw;
    line-height:7vw;
    font-weight: 530;
}
.center:nth-child(2){
    margin-top: 19vh;
}
.center h2{
    text-transform: uppercase;
    font-size: 8vw;
    line-height:7vw;
    font-weight: 530;
    display: inline-block;
    border-bottom: 0.5vw solid #fff;
    padding-bottom:0.8vw;
    transition:all ease 0.3s;
    /* z-index: 10000; */
}
.center h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;
}
#video-cont{
    height:66vh;
    width:71vw;
    position:relative;
    left:28%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/showreel-2022-preview-1.jpg);
}
#video-cont video{
    height:100%;
    width:100%;
    object-fit: cover; 
}
#video-cont img{
    position: absolute;
    height:100%;
    width:100%;
    object-fit: cover;
    top:0;
}
#video-crsr{
    background-color: #ffa63D;
    height:8.5vw;
    width:8.5vw;
    border-radius: 50%;
    position: absolute;
    top:-10%;
    left:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;}
#video-crsr i{
    font-size: 2vw;
}
#page3{
    min-height: 100vh;
    position: relative;
    width:100%;
    background-color: rgb(61,61,61);
    position: relative;
}
#page4{
    min-height: 100vh;
    position: relative;
    width:100%;
    background-color:#151515;
    position: relative;
    padding-top: 7vh 0vh ;
}
#page4-cont{
    weight:65vw;
    margin-left: 28%;
    position: relative;
}
#page4-cont h1{
    font-size: 7vw;
    text-transform: uppercase
}
#page4-cont .underline{
    height:1px;
    width:100%;
    background-color: #fff;
    margin:5vh 0;
}
#page4-cont>p{
    font-size: 2.05vw;
    width:50%;
    margin-bottom: 3vw;
}
#page4-flex{
    display: flex;
}
#page4-flex img{
    width:48%;
}
#page4-flex p{
    font-size: 0.9vw;
    width:19%;
    margin-left: 1.5vw ;
}
.p4-blue-div{
    background-color: #3f4df4;
    width:33vw;
    padding:3vw;
    position: relative;
    margin-top:-35vh;
    margin-left: 24vw;
}
blue-div-elem{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    padding: 1.7vw 0;
    border-bottom: 2px solid #ffffff94; 
}
blue-div-elem h4{
    font-size: 1.4vw;
    font-weight: 500;
}
blue-div-elem p{
    width:50%;
    font-size: 0.7vw;
}
#page5{
    min-height: 100vh;
    width:100%;
    padding: 5vw 0;
    background-color:#151515;


}
.elem {
    display: flex;
    white-space: nowrap;
    overflow-x: hidden;
  }
  .elem h1 {
    font-size: 7vw;
    font-family: "plain light";
    text-transform: uppercase;
    animation-name: animation;
    animation-duration: 23s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-right: 16px;
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 300;
  }
  @keyframes animation {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }
  .elem2 {
    display: flex;
    white-space: nowrap;
    overflow-x: hidden;
  }
  .elem2 h1 {
    font-size: 7vw;
    font-family: "plain light";
    animation-name: animation;
    animation-duration: 23s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-right: 16px;
    animation-direction: reverse;
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 300;
  }
  .elem h1 span,
  .elem2 h1 span {
    font-family: "silk serif";
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 300;
  }
  