*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(245, 245, 245);
    font-family: 'Plain Regular', sans-serif;
}
main, body {
    height: 100%;
    width: 100%;
}
#loader{
    width: 100%;
    height: 100%;
    background-color: #030303;
    position:fixed;
    z-index: 999;
    padding: 25vh 10vw;
}
#first-line{display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5vw;
}
#first-line h5,#first-line h6{
    font-size: 2vw;
    font-family:'Slik Serif';
    font-weight: 100;
}
#first-line h5{
    width:3vw;
    text-align:left;
    /* background-color: red; */
}

#main{
    position:relative;
    background-color: #050505;
}
#page1{
    height:100vh;
    width: 100vw;
  
    background-color: #151515; 
}
.line{
    height:fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:3vw;
}
.line h1{
    font-size: 6.5vw;
    font-weight: 700;
    text-transform: uppercase;
}
.line h2 {
    line-height: 1;
    font-weight: 600;
    font-size: 6.5vw;
    text-transform: uppercase;
    opacity:0;
    /* animation-name: now; */
    animation-duration:  3s ;
    animation-iteration-count: infinite;
}

@keyframes now {
    0%, 48% {
        font-family: "Plain Regular", system-ui, sans-serif;
        color: #fff;
        -webkit-text-stroke: 0;
        opacity: 1;
    }
    50% {
        font-family: "Plain Light", serif;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        opacity: 1;
    }
    100% {
        font-family: "Plain Light", system-ui, sans-serif;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        opacity: 1;
    }
}

