@font-face {
    font-family: "Plain Light";
    src: url("plain-light-webfont.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Plain Regular";
    src: url("plain-regular-webfont.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Silk Serif";
    src: url("silkserif-lightitalic-webfont.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Silk Serif";
    src: url("silkserif-regularitalic-webfont.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(245, 245, 245);
    font-family: 'Plain Regular', sans-serif;
    /* cursor: none; */
}
main, body {
    height: 100%;
    width: 100%;
}
#main{
    position:relative;
    background-color:#151515;;
}
.mouseFollower{
    border: 2px solid #080808;
    background-color: rgb(255, 255, 255);
    scale: 2;
    /* mix-blend-mode: difference; */
    transform: translate(-50%, -50%);
}
#loader{
    width: 100%;
    height: 100%;
    background-color: #030303;
    position:fixed;
    z-index: 1000;
    padding: 25vh 10vw;
}
#first-line{display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5vw;
}
#first-line h5,#first-line h6{
    font-size: 2vw;
    font-family:'Slik Serif';
    font-weight: 100;
}
#first-line h5{
    width:3vw;
    text-align:left;
    /* background-color: red; */
}
.line{
    height:fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:3vw;
}
.line h1{
    font-size: 6.5vw;
    font-weight: 700;
    text-transform: uppercase;
}
.line h2 {
    line-height: 1;
    font-weight: 600;
    font-size: 6.5vw;
    font-family: "Plain Light", system-ui, sans-serif;
    text-transform: uppercase;
    opacity:0;
    /* animation-name: now; */
    animation-duration:  3s ;
    animation-iteration-count: infinite;
}
@keyframes now {
    0%, 48% {
        font-family: "Plain Regular", system-ui, sans-serif;
        color: #fff;
        -webkit-text-stroke: 0;
        opacity: 1;
    }
    50% {
        font-family: "Plain Light", serif;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        opacity: 1;
    }
    100% {
        font-family: "Plain Light", system-ui, sans-serif;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        opacity: 1;
    }
}
#page1{
    height:100vh;
    width: 100vw;
    background-color: #151515; 
}
#page1 #nav{
    /* border: 2px solid rgb(245, 245, 245); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3vw;
}
#nav-part2 h5{
    font-weight: 500;
    font-size: 1.1vw;
}
.center{
    width: 72%;
    margin-left: 27%;
    overflow: hidden;
    height: fit-content;
    position: relative;
    z-index: 999;
    overflow-y: hidden;
    overflow-x: visible;
}
.center h1{
    text-transform: uppercase;
    font-size: 8vw;
    line-height:7vw;
    font-weight: 530;
    position: relative;
}
#page1::before{
    content:"01";
    position: absolute;
    font-size: 3vw;
    font-weight:100;
    font-family: "silk serif", system-ui, sans-serif;
    left:18%;
    top:27%;
}
.center:nth-child(2){
    margin-top: 19vh;
}
.center h2{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom: 0.5vw solid #fff; 
    border-bottom: 0.5vw solid #fff;
    /* padding-bottom: 0.8vw;
    transition: all ease 0.3s;  */
}
.center h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;
}
.center h2,.center h3{
    text-transform: uppercase;
    font-size: 8vw;
    line-height:7vw;
    font-weight: 530;
    display: inline-block;

}
#center3 {
    z-index: 999;
    position: relative;
}
#flag{
    height:20vw;
    position: absolute;
    opacity: 0;
    top:0;
    left: 0;
    transform: translate(-50%,-50%);
}

#video-cont{
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
    background-color: red;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
}

#video-cont video{
    height:100%;
    width:100%;
    object-fit: cover; 
    opacity: 0;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/showreel-2022-preview-1.jpg);
}
#video-cont img{
    position: absolute;
    height:100%;
    width:100%;
    object-fit: cover;
    top:0;
}
#video-crsr{
    background-color: #ffa63D;
    height:8.5vw;
    width:8.5vw;
    border-radius: 50%;
    position: absolute;
    top:-15%;
    left:70%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;}
#video-crsr i{
    font-size: 2vw;
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color:  #151515;
    /* background-color: rgb(61, 61, 61); */
    position: relative;
    padding: 17vh 2vw;
    margin-bottom: 20vh;
    margin-top: 20vh;
}
#page3 h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;
}
#page3 h1::before {
    content: "02";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -12%;
    top: 8%;
}
#page3 .underline {
    margin-left: 28vw;
}
.image-div-cont{
    padding:1vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.image-div{
    height:38vw;
    width:27vw;
    /* background-color: blue; */
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    margin:2vw;
}
.image-div:nth-child(2){
    height:29vw;
    width:21vw;

}
.image-div img{
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: center;
}
.page3-circle1{
    width: 20vw;
    height: 20vw;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 20vh;
    margin-left: 10vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.page3-circle1 svg{
    height:30%;
}
.page3-circle2 {
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    position: relative;
    /* margin-top: 23vh; */
    flex-shrink: 0;
    align-items: center;
    /* margin-left: 10vw; */
    justify-content: center;
    margin-top: 2vw;
    margin-right: 3vw;
}
.page3-circle2 svg {
    height: 30%;
    rotate: -45deg;
}

.circle-in {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: ; */
    transition: all ease 0.5s;
    scale: 0;
    border-radius: 50%;
}
.circle-in p{
    font-size: 0.95vw;
    color: #000;
    font-weight: 500;
    width: 60%;
    scale: 0;
    transition: all ease 0.5s;
    transition-delay: 0.3s;
    opacity: 0;
}
.page3-circle1:hover .circle-in {
    scale:1;
}
.page3-circle1:hover p{
    scale:1;
    opacity: 1;
}
.page3-circle2:hover .circle-in {
    scale:1;
}
.page3-circle2:hover p{
    scale:1;
    opacity: 1;
}
#page4{
    min-height: 100vh;
    position: relative;
    width:100%;
    background-color:#151515;
    position: relative;
    padding-top: 7vh 0vh ;
    margin-bottom: 20vh;

}
#page4-cont{
    weight:65vw;
    margin-left: 28%;
    position: relative;
}
#page4-cont h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}
#page4-cont h1::before{
    content:"03";
    position: absolute;
    font-size: 3vw;
    font-weight:300;
    font-family:  "silk serif", system-ui, sans-serif;
    left:-12%;
    top:8%;
}
 .underline{
    height:1px;
    width:100%;
    background-color: #fff;
    margin:5vh 0;
}
#page4-cont>p{
    font-size: 2.05vw;
    width:50%;
    margin-bottom: 3vw;
}
#page4-flex{
    display: flex;
}
#page4-flex img{
    width:48%;
}
#page4-flex p{
    font-size: 0.9vw;
    width:19%;
    margin-left: 1.5vw ;
}
.p4-blue-div{
    background-color: #3f4df4;
    width:33vw;
    padding:3vw;
    position: relative;
    margin-top:-35vh;
    margin-left: 24vw;
}
blue-div-elem{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    padding: 1.7vw 0;
    border-bottom: 2px solid #ffffff94; 
}
blue-div-elem h4{
    font-size: 1.4vw;
    font-weight: 500;
}
blue-div-elem p{
    width:50%;
    font-size: 0.7vw;
}
#page5{
    min-height: 100vh;
    width:100%;
    padding: 5vw 0;
    background-color:#151515;
   


}
.elem {
    display: flex;
    white-space: nowrap;
    overflow-x: hidden;
  }
  .elem h1 {
    font-size: 7vw;
    font-family: "plain light";
    text-transform: uppercase;
    animation-name: animation;
    animation-duration: 23s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-right: 16px;
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 300;
  }
  @keyframes animation {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }
  .elem2 {
    display: flex;
    white-space: nowrap;
    overflow-x: hidden;
  }
  .elem2 h1 {
    font-size: 7vw;
    font-family: "plain light";
    animation-name: animation;
    animation-duration: 23s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-right: 16px;
    animation-direction: reverse;
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 300;
  }
  .elem h1 span,
  .elem2 h1 span {
    font-family: "silk serif";
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 300;
  }
  #footer{
    min-height: fit-content;
    width:100%;
    display: flex;
    justify-content: end;
    padding: 4vw;
    background-color: #151515;
  }
  #footer-main{
    width: 66vw;
    min-height: 70vh;
    margin-left:25vw;
    position: relative;
  }
  #footer-main h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    font-weight: 500;
  }

  footer{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: end;
    padding: 4vw;
    background: #151515;
}

.footerContainer{
    width: 66vw;
    min-height: 70vh;
    margin-right: 8vw;
    position: relative;
}
.footerContainer h1{
    font-size: 7.5vw;
    font-weight: 500;
}
.linksSection{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    margin: 4vw 0;
}
.linksSection ul{
    list-style: none;
}
.linksSection div{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 4vw;
    /* justify-content: space-between; */
}
.linksSection div h5{
    font-size: 1.2vw;
    font-weight: 600;
}
.linksSection div ul li{
    font-size: 2vw;
}
.linksSection div p{
    font-size: 2vw;
}
.footerContainer span{
    font-size: 1.5vw;
    margin-top: 4vw;
    margin-bottom: 5vw;
}
.footerContainer ::before{
        content:"04";
        position: absolute;
        font-size: 3vw;
        font-weight:300;
        font-family:  "silk serif", system-ui, sans-serif;
        left:-12%;
        top:8%;
}